html, body {
	height: 100%;
}

.page-content {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#navbar-user-icon {
	padding-bottom: 5px;
	padding-top: 5px;
}

#navbar-user-icon>img {
	border-radius: 50%;
}

.page-footer {
	height: 60px;
}

.page-footer>.container {
	width: 100%;
}

.page-footer hr {
	margin-bottom: 10px;
}

.modal-danger .modal-header {
	color: #a94442;
}

.character-avatar image {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
}

.character-avatar .character-avatar-img-head {
	clip-path: inset(12.5% 75% 75% 12.5%);
	transform: translate(calc(-100%/ 6 * 5), calc(-100%/ 6 * 5));
}

.character-avatar .character-avatar-img-helm {
	clip-path: inset(12.5% 25% 75% 62.5%);
	transform: translate(-500%, -100%);
}

.link-grey-dark {
	color: #333;
}

.link-grey-dark:hover {
	color: #23527c;
	text-decoration: none;
}

.divided-list>* {
	border-bottom: 1px solid #ddd;
	padding: 12px 0;
}

.divided-list>*:last-child {
	border-bottom: none;
}

.add-element-link {
	color: #999;
}

.add-element-link:hover {
	color: #666;
	text-decoration: none;
}

.character-model-name-steve .fa {
	color: #2294d3;
}

.character-model-name-alex .fa {
	color: #ff69b4;
}

.character-model-name .fa {
	font-weight: 600;
}

@media ( min-width:768px) {
	.navbar-right>.navbar-nav {
		float: right;
	}
	.navbar-right>.navbar-form {
		float: left;
	}
}
