html {
  background-color: rgb(249,249,249);
}

body {
  background: transparent;
}

.panel .alert {
  margin: 0;
  border-radius: 0;
}

.panel {
  min-width: 200px;
  max-width: 340px;
  margin: 20px auto;
}

.inpanel-title {
  margin-top: 0;
  margin-bottom: 16px;
}
